<section class="giscus mx-auto mt-10 w-full"></section>
<script
  src="https://giscus.app/client.js"
  data-repo="engimas/blog"
  data-repo-id="R_kgDOLYnPIQ"
  data-category="Blog Post Comment"
  data-category-id="DIC_kwDOLYnPIc4CfHRO"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="0"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="transparent_dark"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
